.header-bg {
  background: #e1d4dd;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}
.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  font-size: 18px;
  position: relative;
  color: var(--cor-textBotao);
  font-family: 'Courgette', cursive;
}
.header-menu a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: #ff00bb;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
}
@media (max-width: 800px) {
  .header {
    justify-content: center;
  }
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #f3e8f0;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 1rem;
  }
  .header-menu a:hover {
    background-color: #ce44a9;
  }
  .header-menu a::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
  }
}
